<div class="container">
  <div class="login-form">
    <h1>Connexion</h1>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input 
          type="email" 
          id="email" 
          formControlName="email" 
          [class.error]="submitted && f['email'].errors">
        <div class="error-message" *ngIf="submitted && f['email'].errors?.['required']">
          L'email est requis
        </div>
        <div class="error-message" *ngIf="submitted && f['email'].errors?.['email']">
          L'email est invalide
        </div>
      </div>
      
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input 
          type="password" 
          id="password" 
          formControlName="password" 
          [class.error]="submitted && f['password'].errors">
        <div class="error-message" *ngIf="submitted && f['password'].errors?.['required']">
          Le mot de passe est requis
        </div>
      </div>
      
      <div class="form-actions">
        <button type="submit" class="btn-login" [disabled]="isLoading">
          <span *ngIf="!isLoading">Connexion</span>
          <span *ngIf="isLoading">Connexion en cours...</span>
        </button>
      </div>
      
      <div class="error-message login-error" *ngIf="loginError">
        {{ loginError }}
      </div>
      
      <div class="register-link">
        Pas encore de compte ? <a routerLink="/register">Inscrivez-vous</a>
      </div>
    </form>
  </div>
</div>
